<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3><%= 1+2 %> </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ut aspernatur temporibus nesciunt cumque at ducimus libero laboriosam quaerat, in atque, culpa neque assumenda, praesentium odit itaque velit iusto illum repudiandae omnis! Harum a quaerat nemo excepturi, est temporibus. Aut cum consequuntur quaerat assumenda accusantium quod corporis rem repudiandae enim!</p>
    <button>Click me!</button>
</body>
</html>